﻿@page "/"

<h1>Autoreparatur Ares</h1>
<h2>Termine</h2>
<button @onclick="AddTermin">Termin hinzufügen</button>

@foreach (Termin termin in termine)
{
    <p>@termin.Datum</p>
    <p>@termin.Uhrzeit</p>
    @*<p>@termin.Auto</p>
        <p>@termin.Autohalter</p>
        <p>@termin.Schaden</p>
        <button>Details</button>*@
}

@code
{
    IEnumerable<Termin> termine = new Termin[0];

    /// <summary>
    /// Method invoked when the component is ready to start, having received its
    /// initial parameters from its parent in the render tree.
    /// Override this method if you will perform an asynchronous operation and
    /// want the component to refresh when that operation is completed.
    /// </summary>
    /// <returns>A <see cref="T:System.Threading.Tasks.Task"/> representing any asynchronous operation.</returns>
    protected override async Task OnInitializedAsync()
    {
        termine = new List<Termin>
          {
                      new Termin
                      {
                          Datum = "07.05.2020",
                          Uhrzeit = "12 Uhr",
                          Auto = "Warthburg",
                          Autohalter = "Fritz",
                          Schaden = "Motorhaube"
        //SchadenListe = { "Motorhaube", "Reifenwechsel" }
                      },
                      new Termin
                      {
                          Datum = "10.05.2020",
                          Uhrzeit = "7 Uhr",
                          Auto = "Porsche",
                          Autohalter = "Otto",
                          Schaden = "Windschutzscheibe"
    //SchadenListe = { "Windschutzscheibe", "Batterie" }
                      },
                      new Termin
                      {
                          Datum = "08.05.2020",
                          Uhrzeit = "18 Uhr",
                          Auto = "Trabant",
                          Autohalter = "Erich",
                          Schaden = "Reifenwechsel"
    //SchadenListe = { "Reifenwechsel" }
                      }
                  };
    }

    private class Termin
    {
        private Guid Id { get; set; } = new Guid();

        public string Datum { get; set; }

        public string Uhrzeit { get; set; }

        public string Auto { get; set; }

        public string Autohalter { get; set; }

        public string Schaden { get; set; }

        //public List<string> SchadenListe { get; set; }

        public bool Erledigt { get; set; } = false;
    }

    private void AddTermin(MouseEventArgs obj)
    {
    }
}